@media (max-width: 1300px) {
  .nav {
    display: none;
  }
}

@media (max-width: 1300px) {
  html {
    width: 1300px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #1a1a1a;
}

.contact {
  background-image: url(../src/components/image/contact1.jpg);
}
